<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reja</title>
</head>
<body>
<h1>Hamma rejalar</h1>
    {%for i in rejalar%}
    <ul>
        <li>
            {{i.sarlavha}}  <a href="/rejani_ochir/{{i.id}}/"><button>Delete</button></a>
        </li>
    </ul>
{%endfor%}
    <form method="post">{% csrf_token%}
        <input name="sar" type="text">
        <input name="sana" type="date">
        <input name="b_m" type="text">
        <label>bajarilganmi</label>
        <input name="bajaril" type="checkbox">
        <select name="student">
            {%for i in students%}
            <option>{{i.ism}} </option>
            {%endfor%}
        </select>

    </form>
</body>
</html>